

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
}

.containerWin {
    background-color: rgb(184, 231, 215);
    border: solid black;
}

input, button {
    padding: 10px;
    margin: 5px;
}

.gameover{
    width: 200px;
    height: 100;
}

.gameOverContainer {
    color:rgb(129, 30, 30);
}